<header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          SPECTRUMNext
        </a>
  
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
          <!-- <li><a href="/os-list" class="nav-link px-2 text-white">OS List</a></li> -->
          <li><a href="/diary-list" class="nav-link px-2 text-white">Diary Stories</a></li>
          <!-- <li><a href="/os-add" class="nav-link px-2 text-white">Add OS</a></li> -->
          <li><a href="/diary-add" class="nav-link px-2 text-white">Add Diary</a></li>
        </ul>
      </div>
    </div>
  </header>